
// ==========================================================================
// Articles
// ==========================================================================

//
// Headings
// ==========================================================================

.entry-header {

    .entry-title {
            font-size: 2rem;
    }
}

//
// Content
// ==========================================================================

.entry-content {

    p {
        font-size: 16px;
        line-height: $base;
    }
}