// ==========================================================================
// Code / Pre
// ==========================================================================

pre {

    &.prettyprint {
        padding: 0 !important;
        @include borderRadius(0);
        margin-top: 0;

        code {
            padding: 0 $base $base !important;
            display: inline-block;
        }

        // Code Heading
        &:before {
            content: 'CODE';
            display: block;
            color: $white;
            width: 100%;
            height: $base-lg;
            line-height: $base-lg;
            font-family: $heading-s;
            padding-left: $base;
        }

        // Code Heading Languages
        &.lang {

            &-css {
                &:before {
                    content: 'CSS';
                    background: $color-css;
                }
            }

            &-scss {
                &:before {
                    content: 'SCSS';
                    background: $color-sass;
                }
            }

            &-sass {
                &:before {
                    content: 'SASS';
                    background: $color-sass;
                }
            }

            &-html {
                &:before {
                    content: 'HTML';
                    background: $color-html;
                }
            }

            &-php {
                &:before {
                    content: 'PHP';
                    background: $color-php;
                }
            }

            &-js {
                &:before {
                    content: 'JS';
                    background: $color-js;
                }
            }

            &-gulp {
                &:before {
                    content: 'gulpfile.js';
                    background: $color-gulp;
                }
            }
        }
    }
}