// ==========================================================================
// Comments
// ==========================================================================

.comments-area {
    .comment-content {
        line-height: 1.2;
    }

    .reply {
        margin-top: $base;
    }
}

//
// Comment Form
// ==========================================================================

.comment-form {
    line-height: $base;

    .comment-form-comment {
        label {
            line-height: $base;
        }
    }
}