// ==========================================================================
// Registration Form
// ==========================================================================

.mc4wp-form {
    font-family: $body-font;

    label {
        font-family: $heading-s;
        display: block;
        margin-bottom: $base-s;
    }

    input[type="email"] {
        width: 100%;
    }
}

