.o-logo {
    width: 900px;
    margin: 0 auto;
    position: relative;
    z-index: 999;
	 @include borderBox;

    @media (max-width: $break-s) {
    		width: 100%;
    		height: auto;
    		padding: 0 $base;
    		text-align: center;
    }

    &__mobile {
    	display: none;
    	width: 100%;

    	@media (max-width: $break-xs) and (orientation: portrait) {
    		display: block;
    	}
    }

    &__desktop {
    	display: block;

    	@media (max-width: $break-xs) and (orientation: portrait) {
    		display: none;
    	}
    }
}