.o-section {
	padding: 100px 0;
	width: 100%;
	position: relative;
	z-index: 999;

	&--white {
		background: $white;
	}

	&--pattern {
   	background: url(../img/patternWhite.png) repeat #f1ede1;
	}

	&--pattern-green {
		background: url(../img/patternWhite.png) repeat #ABD4CE;
	}
}