
.o-width {
	margin: 0 auto;

	// Full Width
	&-full {
		width: 100%;
		display: inline-block;
		padding: $base 0;

		&--photo-bg {
			background: $blue;
		}

		&--white-bg {
			background: $white;
		}

		&--no-pad {
			padding: 0;

			&\@sm {
				@media (max-width: $break-s) {
					padding: 0;
				}
			}
		}
	}

	@media (min-width: $break-s) {
		width: $width-m;
	}
}