
// Colors
$grey-light: #efefef;
$grey: #999;
$grey-dark: #666;
$black: #333;
$white: #fff;
$blue: #205081;
$red: #FF002B;
$red-light: #fb3253;
$orange: #FFAF30;

$brown-dark: #53453b;
$green: #abd4cb;