
// Colors
$grey-light: #ccc;
$grey: #999;
$grey-dark: #666;
$black: #333;
$white: #fff;
$offwhite: #efefef;
$blue: #006dae;
$blue-dark: #004d7b;
$red: #FF002B;
$red-light: #fb3253;
$orange: #FFAF30;

$brown-dark: #53453b;
$green: #abd4cb;

// Code Colors
$color-css: #1c88c7;
$color-sass: #CC6699;
$color-js: #F7DF1E;
$color-php: #935fba;
$color-html: #f1662a;
$color-gulp: #e94d51;